* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-bottom: 72px;
  padding-top: 72px;
}
main {
  background-color: hsl(0deg, 0%, 30%);
  padding-bottom: 64px;
  padding-top: 64px;
  border-top: 8px solid hsl(0deg, 0%, 60%);
}
p {
  line-height: 1.5;
}
strong {
  color: hsl(160deg, 100%, 30%);
}
.title {
  margin-bottom: 32px;
}
.intro-chunk {
  max-width: 400px;
  padding-left: 24px;
  padding-right: 24px;
}
.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px 24px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  max-width: fit-content;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
